version: '3'

services:

    tests:
        container_name: tests
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - .:/code
        working_dir: /code
        command: bash -c "composer run-test"
        depends_on:
          - mongodb

    mongodb:
        container_name: mongodb
        image: mongo
        ports:
          - 27017:27017
        logging:
            driver: none
